.darkmode {
    background-color: #1b1c1b !important;
}

.item.darkmode {
    color: white !important;
}

.menu.darkmode{
    border-bottom: 2px solid rgba(191,191,191) !important;
}

.item.darkmode:hover{
    color: rgba(255,255,255,.95) !important;
    background-color: #0c0c0c !important;
}

.active.item.darkmode{
    border-color: #5f5f5f !important;
    color: rgba(255,255,255,.95) !important;
}

.active.item.darkmode:hover{
    border-color: #5f5f5f !important;
    color: rgba(255,255,255,.95) !important;
}